<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{selected_post.title}}</title>
</head>
<body>
    <a href="/allposts/">Back To Blog Catalog</a>
    <h1>{{selected_post.title}}</h1>
    <a class="btn btn-md btn-danger" href="/delete/{{selected_post.id}}/">Delete</a>
    <a class="btn btn-md btn-primary" href="/edit/{{selected_post.id}}/">Edit</a>

    <p>Published{{selected_post.created}}</p>
    <hr>
    <p>{{selected_post.content}}</p>
    
</body>
</html>